.custom-divider.MuiDivider-root {
  border: 2px solid var(--jp-border);
  margin-top: 15px;
  margin-bottom: 15px;
}

.start-text.MuiTypography-root {
  font-size: 20px;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
