.addJobTitle {
    margin: 0;
    padding: 0;
    border-top: 50px solid #4ba173;
    left: -20px;
    position: relative;
    padding-left: 36px;
    width: calc(100% + 40px);
  }

  .closeButton {
    position: absolute !important;
    top: 8px !important;
    right: 8px !important;
    color: #085630 !important;
  }

  .dialogContent {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    width: 900px;
  }
  
  .dialogContentLeft{
    flex: 1;
  }
  
  .dialogContentRight {
    flex: 1;
    height: 100%;
  }

  .required::after {
    content: " *";
    color: red;
  }

  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .inputField {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }

  .label{
    color: #4ba173;
    font-family: 'Roboto', sans-serif;
    font-size: rem;
  }