@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.raf-button.raf-button--info {
  background-color: #4f46e5;
  color: white;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.2s ease;
}

/* On hover */
.raf-button.raf-button--info:hover {
  background-color: #4338ca;
}


.raf-button.raf-button--primary {

  background-color: #4338ca !important;
  color: white !important;
  font-weight: 600 !important;
  padding: 8px 16px !important;
  border-radius: 0.5rem !important;
  border: none !important;
  transition: background-color 0.2s ease !important;

}

.raf-button.raf-button--primary:hover {

  background-color: #4338ca;

}

