.drop-down {
  border: 2px solid #4ba173;
  color: #4ba173;
  border-radius: 4px;
  width: 200px;
  height: 56px;
}

.drop-down .MuiAutocomplete-inputRoot {
  display: flex;
  /* flex-wrap: nowrap; Prevent wrapping of chips */
  height: 56px; /* Fixed height to prevent resizing */
}

.drop-down .MuiTextField-root {
  display: flex;
  /* flex-wrap: nowrap; Prevent wrapping of chips */
  height: 56px; /* Fixed height to prevent resizing */
}

.filter-button.MuiButton-outlined {
  color: #4ba173;
  border: 2px solid #4ba173;
  width: 200px;
  height: 56px;
}

.filter-button:hover {
  color: black;
  background-color: #f0fbf5;
  border: 2px solid #4ba173;
  /* font:  */
}

.drop-down:hover {
  text-color: black !important;
  background-color: #f0fbf5;
}

.MuiInputLabel-root {
  color: #4ba173 !important; /* Input Color */
}

/* Hover State for the Drop-down */
.drop-down:hover .MuiInputLabel-root {
  color: black !important; /* Change label color to black on hover */
}
.drop-down .MuiAutocomplete-popupIndicator {
  color: #4ba173; /* Down arrow color */
}

.drop-down .MuiSelect-select {
  color: #4ba173; /* Text color for the selected value */
}

.location-menu {
  maxheight: 600px;
}

.slider-box {
  height: 100px;
  width: 250px;
}

.salary-menu .MuiMenu-paper {
  width: 30% !important;
}
.salary-menu {
  width: 100%;
}

.salary-slider-box {
  height: 100px;
  width: 98%;
}

.salary-slider {
  width: 100%;
  translate: 0px 25px;
}

.slider {
  width: 100%;
  translate: 0px 25px;
}

.save-button.MuiButton-contained {
  border: 2px solid #4ba173;
  color: white;
  background-color: #4ba173;
}

.cancel-button.MuiButton-text {
  color: black;
}

.menu-button-section {
  padding: 10px;
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* Add spacing between buttons */
}
*/ .MuiPickersDay-root:hover {
  background-color: black; /* Light gray background on hover */
  color: #000; /* Black text color */
}

/* Selected day styling */
.MuiPickersDay-root.Mui-selected {
  background-color: #4ba173 !important; /* Blue circle for selected day */
  color: white; /* White text inside selected day */
}

/* Hover effect on the selected day */
.MuiPickersDay-root.Mui-selected:hover {
  background-color: #4ba173 !important; /* Darker blue on hover */
}

/* Styling for today (current day) */
.MuiPickersDay-root.MuiPickersDay-today {
  border: 1px solid #1976d2; /* Blue border for today's date */
  color: #4ba173; /* Blue text color */
}
