.personalInfo {
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -120px;
}

.highlightedInfo {
  width: calc(100% - 300px);
}

.name {
  font-size: 60px;
  font-weight: bold;
  line-height: 80px;
  margin-bottom: 0px;
}

.actionButtons {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actionButtons Button {
  background-color: var(--jp-secondary);
  border: 2px solid var(--jp-secondary);
  border-radius: 30px;
  padding: 0px 10px;
  color: white;
  font-weight: bold !important;
  line-height: 30px;

  width:175px;
  height: 50px;
  font-size: large;
  box-shadow: none !important;
}

.editProfileButton{
  background-color: var(--jp-white) !important;
  border: 2px solid var(--jp-secondary) !important;
  color: var(--jp-secondary) !important;
  line-height: 1 !important;
}

.editProfileButton:hover {
  background-color: var(--jp-white-hover);
}

.noProfileText{
  font-size: xx-large;
  font-weight: bold;
  color: var(--jp-gray);
}

.parseResume {
  background-color: var(--jp-primary);
  border-radius: 15px;
  width: 70%;
  display: flex;
  box-sizing: border-box;
  padding: 30px 50px;
  margin: 20px;
  flex-direction: column;
  align-items: center;

  border-width: 4px;
  font-weight: bold;
  font-size: xx-large;
  color: white;
}

.addNewSection {
  background-color: white;
  border-radius: 15px;
  width: 70%;
  display: flex;
  box-sizing: border-box;
  padding: 30px 50px;
  margin: 20px;
  flex-direction: column;
  align-items: center;

  border-style: dashed;
  border-width: 4px;
  border-color: var(--jp-border);
  font-weight: bold;
  font-size: xx-large;
  color: var(--jp-border);
}

.highlightedInfo .addNewSection,
.highlightedInfo .parseResume
{
  width: 100%;
}

.addNewSection:hover {
  background-color: #edf2f7;
}

.icon{
  font-size: 2.5rem !important;
  aspect-ratio: 1;
  color: var(--jp-primary);
}

.editIcon{
  position: absolute;
  left: 90px;
  top: -40px;
  font-size: 2rem !important;
}