.MuiButton-root {
  text-transform: none !important;
  font-weight: normal !important;
}

.MuiInputLabel-root {
  color: var(--jp-primary) !important; /* Input Color */
}

.filter-column-container .MuiInputLabel-root:hover {
  color: black
}

.filter-column-container .MuiInputLabel-root {
  color: var(--jp-border) !important; /* Input Color */
}

.drop-down {
  border: 2px solid var(--jp-border);
  color: var(--border);
  border-radius: 4px;
  width: 200px;
  min-width: 150px;
  height: 56px;
}

.drop-down .MuiAutocomplete-inputRoot,
.drop-down .MuiTextField-root {
  display: flex;
  height: 56px; /* Fixed height to prevent resizing */
}

.drop-down .MuiInputLabel-root.Mui-focused,
.drop-down .MuiInputLabel-root.MuiFormLabel-filled,
.drop-down .MuiInputLabel-root.MuiInputLabel-shrink {
  background-color: var(--jp-background); /*Background for dropdown title when selected*/
}

.drop-down:hover {
  text-color: black !important;
  background-color: var(--jp-white-hover);
}

.drop-down:hover .MuiInputLabel-root {
  color: var(--jp-border) !important; /* Change label color to black on hover */
}

.drop-down .MuiAutocomplete-popupIndicator {
  color: var(--jp-border); /* Down arrow color */
}

.filter-button.MuiButton-outlined {
  color: var(--jp-border);
  border: 2px solid var(--jp-border);
  width: 200px;
  min-width: 150px;
  height: 56px;
  display: flex;
  justify-content: space-between;
}

.selected-filter-button.MuiButton-outlined {
  background-color: var(--jp-primary);
  color: white;
  border: 2px solid var(--jp-border);
  width: 200px;
  min-width: 150px;
  height: 56px;
  display: flex;
  justify-content: space-between;
}

.filter-button:hover {
  color: black;
  background-color: var(--jp-white-hover);
  border: 2px solid var(--jp-border);
}

.salary-menu .MuiMenu-paper {
  width: 30% !important;
}

.MuiPickersDay-root:hover {
  background-color: black; /* Light gray background on hover */
  color: #000; /* Black text color */
}

/* Selected day styling */
.MuiPickersDay-root.Mui-selected {
  background-color: var(--jp-primary) !important; /* Blue circle for selected day */
  color: white; /* White text inside selected day */
}

/* Hover effect on the selected day */
.MuiPickersDay-root.Mui-selected:hover {
  background-color: var(--jp-primary) !important; /* Darker blue on hover */
}

/* Styling for today (current day) */
.MuiPickersDay-root.MuiPickersDay-today {
  border: 1px solid var(--jp-border); /* Blue border for today's date */
  color: var(--jp-primary); /* Blue text color */
}
