.upcomingEvents {
  margin-top: 20px;
  display: flex;
  column-gap: 30px;
}

.event {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.eventDate {
  font-weight: normal;
}

.eventTimeText {
  display: flex;
  flex-direction: row;
}

.eventDateWrapper {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #757575;
  padding-right: 10px;
  margin-right: 10px;
}

.startTime {
  color: var(--jp-primary);
  font-weight: bold;
  font-size: x-large;
}

.endTime {
  color: var(--jp-secondary);
  font-weight: bold;
  font-size: x-large;
}

.eventText {
  background-color: #eeeeee;
  max-width: 295px;
  max-height: 295px;
  width: 295px;
  height: 295px;
  aspect-ratio: 1;
  border-radius: 15px;
  padding: 20px;
  overflow: clip;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.eventText.firstEvent {
  background-color: var(--jp-primary);
  color: white;
}

.joinCallButton {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 100%;
}

.firstJoinCall {
  background-color: var(--jp-white);
  border: 2px solid var(--jp-secondary);
  color: var(--jp-secondary);
}

.firstJoinCall:hover {
  background-color: var(--jp-white-hover);
}
